<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alzheimer help</title>
</head>

<body>
  <header>

  </header>
  <main>
    <section></section>
    <section></section>
    <div class="input__form"></div>
  </main>
  <footer>

  </footer>

</body>

</html>

<body>
  <div class=" flor">
    <center> <img src="img/flor.jpeg" width="270" height="270"> </center>

    <center>
      <h1>Cadastro</h1>
    </center>


    <div class="config">
      <center>
        <h2><label for="Persona">Persona:</label></h2>
        <input type="Persona" />
      </center>
      <center>
        <h2> <label for="Nome">Nome:</label></h2>
        <input type="Nome" />
      </center>
      <center>
        <h2><label for="Idade">Idade:</label></h2>
        <input type="Idade" />
      </center>
      <center>
        <h2><label for="Profissão">Profissão:</label></h2>
        <input type="Profissão" />
      </center>
      <center>
        <h2><label for="Descrição">Descrição:</label></h2>
        <input type="Descrição" />
      </center>
      <center>
        <h2><button <h1 style="background-color:rgb(59, 132, 204);class=" botao title="Cadastro">Salvar</button>
        </h2>

      </center>
    </div>
</body>

</html>