<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alzheimer help</title>
</head>
<body>
  <header>
    <div class="header__container">
      <h1><span>Pensando em proteger ainda mais aqueles que vieram antes de você?</span> <br/> Nós podemos ajudar! </h1>
      <img class="alzheimer__logo" src="../assets/img/logo_PI.png" alt="Logo Alzheimer help" />
    </div>
  </header>
  <main>
    <p>Conteúdo aqui</p>

  </main>
  <footer>
    <div class="footer__container">
      <div class="footer_icon">
        <img class="footer__logo" src="../assets/img/facebook.png" alt="facebook logo"/>
        <img class="footer__logo" src="../assets/img/instagram.png" alt="instagram logo"/>
        <img class="footer__logo" src="../assets/img/envelope.png" alt="envelope logo"/>
      </div>

      <p class="copyright"><b>© Alzheimer Help 2023 Grupo-03 SENAC-ADS</b></p>
    </div>
  </footer>

</body>
</html>
