.header{
  background-color: #5CC6BA;
  margin-bottom: 10px;
  padding: 10px;
}

h1{
  font-size: 40px;
  font-weight: 600;
  color: #a3e2de;
  border: none;
  box-shadow: 0px 1px 0px 0px rgba(92,198,186,0.2);
}

h2{
  font-size: 25px;
  color: #a3e2de;
  border: none;
  box-shadow: 0px 1px 0px 0px rgba(92,198,186,0.2);
}

.paragrafo{
  font-size: 15px;
  width: 50%;
  color: #6a6868;
}

footer{
  background-color: #5CC6BA;
  background-image: linear-gradient(0deg, #5CC6BA, white);
  height: 10%;
  color: white;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.container__card{
  display: inline-flex;
}

input{
  width: 500px;
}

.formulario{
  align-items: center;
  justify-content: center;
  padding: 10px;
}

button{
  background-color: #5CC6BA;
  border-radius: 10px;
  color: white;
  border: none;
  width: 200px;
  height: 30px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  border-left: 3px solid #5CC6BA;
  margin-bottom: 20px;
  height: 300px;

}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #a3a5ae;
  font-size: 16px;
}

.container__card-pack{
 display: flex;
 flex-wrap: wrap;
 margin: 0 100px 100px 100px;

}

